.cardimg {
  width: 279px;
  height: 300px;
  object-fit: cover;
}

.bodyDiv {
  margin-top: 150px;
}
.columns {
  margin-left: 15%;
  margin-right: 10%;
}

h3 {
  margin: 30px 60px;
  text-align: center;
  margin-bottom: 70px !important;
}
