.buttons {
  padding-left: 30px;
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}
.Exploreform {
  margin-top: 140px;
  /* float: left; */
  position: relative;
  left: 100px;
}
.drop {
  width: 150px !important;
  /* display: inline; */
  position: relative;
  left: 500px;
  bottom: 38px;
  border: 3px solid rgba(255, 0, 0, 0.822);
}

.buttonhh {
  margin-left: 20px !important;
  width: 70px;
  border-radius: 15px !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border: none;
  color: white !important;
}
.buttonhh:hover {
  border: none;
  background-color: rgba(255, 0, 0, 0.192) !important;
}
.buttonhh:active {
  /* border: none; */
  background-color: rgba(255, 0, 0, 0.192) !important;
}
.spinner {
  height: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pacmanLoader {
  position: absolute;
  bottom: 500px;
}

.modalText {
  display: flex;
  flex-direction: column;
}
.modalText img {
  align-items: center;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.modalText p {
  margin-top: 8px;
  margin-left: 5%;
  margin-right: 5%;
}
.modalText a {
  margin-top: 8px;
  margin-left: 38%;
  margin-right: 5%;
  border: 1px black solid !important;
  font-weight: bold;
  width: max-content;
  padding: 5px;
}
.modalText a:hover {
  background-color: rgb(238, 237, 237);
  border: 1px solid rgba(255, 0, 0, 0.3) !important;
}

.modalText p span {
  margin-top: 8px;
  font-weight: bold;
}
