/* .card-home {
  height: 500px;
  margin: 0 40px;
  width: 20%;
  width: 18rem;
}

.card-home img {
  height: 400px;
  object-fit: cover;
  width: 100%;
}
.card-div {
  margin: 40px 0;
}
.card-div h2 {
  margin: 30px 40px;
  text-align: center;
}
.card-carousel {
  height: 500px;
  margin: 0 20px;
  width: 20%;
  width: 18rem;
}
.card-carousel img {
  height: 400px;
  object-fit: cover;
  width: 100%;
}
.card-group {
  display: flex;
  justify-content: space-evenly;
} */
