* {
  box-sizing: border-box;
}
.userloginPRO {
  background-color: rgba(255, 0, 0, 0.815) !important ;
  border-radius: 5px !important;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  /* margin-left: 47%; */
  font-size: 20px;
  width: 100px;
}

.userh3PRO {
  /* margin-left: -20px; */
  color: white;
}
.userh2 {
  padding-top: 15px;
  /* margin-top: 300px !important; */
}
.userborderPRO {
  margin-top: 350px !important;
  margin-bottom: 250px !important;
  margin-left: 30%;
  margin-right: 30%;
  padding: 15px;
  border: 2px rgba(255, 255, 255, 0.445) dotted;
  background-color: rgba(255, 255, 255, 0.02);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userHeader {
  margin-top: 130px;
}
.user-profile {
  position: relative;
  left: 13%;
  top: 20px;
  background-color: rgba(255, 255, 255, 0.02);
  padding: 20px;
  padding-bottom: 30px;
  width: 600px;
  color: rgba(255, 255, 255, 0.753);
  /* display: flex;
  flex-direction: column; */
}
