.cardAboutus {
  margin: 40px;
  padding: 0px;
  display: flex;

  min-height: 80vh;
  background-color: #eff3fa;
  background-image: linear-gradient(180deg, #f2f5fa 0%, #f8eff5 100%);
}

.cardimg {
  width: 279px;
  height: 300px;
}

.bodyDiv {
  background: rgb(245, 244, 244);

  box-shadow: 0 15px 60px rgb(255, 255, 255);
}
