.logo-icon {
  position: relative;
  right: -45%;
  bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}
.logo-icon img:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #6f1972;
  box-shadow: rgb(110, 21, 194);
}
.logo-icon #twt {
  border-width: 2px;
  border-radius: 5px;
}

hr {
  margin-left: 20%;
  margin-right: 20%;
  color: rgb(138, 1, 1);
}

.footer2 {
  margin-left: 27%;
  color: white;
  font-size: 20px;
}
.footer2:hover {
  color: red;
}
.footer3 {
  margin-top: 10px;
  margin-left: 42%;
  color: white;
  font-size: 20px;
}

.footerElement {
  background-color: rgba(24, 32, 49, 0.699);
}
