* {
  box-sizing: border-box;
}
/* a {

} */
.header-link {
  color: rgb(255, 255, 255) !important;
  font-size: larger;
}
.Navbar {
  background-color: rgba(190, 68, 68, 0) !important;
  position: absolute;
  top: 30px;
  z-index: 4;
  left: 11%;
  display: inline;
}

.navs:hover {
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.5);
  transition: 1000ms;
  border-radius: 15px;
  color: rgb(255, 255, 255);
}

.navs,
.active-navbar {
  margin-left: 45px;
  margin-right: 45px;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
}
.active-navbar {
  /* color: rgb(134, 122, 122); */
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.801);
  transition: 1000ms;
  border-radius: 15px;
}
.active-navbar:hover {
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.801);
  transition: 1000ms;
  border-radius: 15px;
  color: rgb(255, 255, 255);
}
/* .Button:hover {
  text-decoration: none;
  background-color: red;
  transition: 1000ms;
  border-radius: 15px;
} */

.button {
  background-color: rgba(255, 0, 0, 0.815) !important ;
  border-radius: 15px !important;
  border: none;
  margin-left: 35px;
  margin-right: 35px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.name {
  font-size: 27px;
  margin-right: 50px;
}
